repos:
  - repo: https://github.com/python-poetry/poetry
    rev: '2.3.0'
    hooks:
      - id: poetry-check
      - id: poetry-lock
  - repo: https://github.com/pycqa/isort
    rev: '5.13.2'
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: '24.10.0'
    hooks:
      - id: black
