[tool.poetry]
name = "bss-web-file-server"
version = "0.1.0"
description = "BSS file server API"
authors = ["Bence Csik <bence@csik.dev>"]
readme = "README.md"
packages = [{include = "bss_web_file_server", from = "src"}]

[tool.poetry.dependencies]
python = "^3.12"
fastapi = "0.109.2"
pillow = "10.2.0"
uvicorn = {extras = ["standard"], version = "0.27.1"}
python-multipart = "0.0.9"
pillow-avif-plugin = "1.4.3"
pytest-mock = "^3.12.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"
pylint = "^2.15.5"
black = "^22.10.0"
isort = "^5.10.1"
types-Pillow = "^9.3.0.2"

[tool.poetry.group.test.dependencies]
httpx = "^0.26.0"
pytest = "^7.2.0"
pytest-mock = "^3.10.0"
mypy = "^0.991"

[tool.poetry.scripts]
start = "uvicorn src.bss_web_file_server.main:app"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
